<!--<!DOCTYPE html>-->
<!--<html>-->
<!--<title>Chatbot </title>-->
<!--  <head>-->
<!--&lt;!&ndash;    <link&ndash;&gt;-->
<!--&lt;!&ndash;      rel="shortcut icon"&ndash;&gt;-->
<!--&lt;!&ndash;      type="image/x-icon"&ndash;&gt;-->
<!--&lt;!&ndash;      href="https://user-images.githubusercontent.com/20112458/49326597-773b7280-f57a-11e8-853d-20ed61d18b0d.png"&ndash;&gt;-->
<!--&lt;!&ndash;    />&ndash;&gt;-->
<!--    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>-->
<!--    <style>-->
<!--      body {-->
<!--        font-family: monospace;-->
<!--      }-->
<!--      h1 {-->
<!--&lt;!&ndash;        background-color: Red;&ndash;&gt;-->
<!--        display: inline-block;-->
<!--        font-size: 3em;-->
<!--        margin: 0;-->
<!--        padding: 14px;-->
<!--      }-->
<!--      h3 {-->
<!--        color: black;-->
<!--        font-size: 20px;-->
<!--        margin-top: 3px;-->
<!--        text-align: center;-->
<!--      }-->
<!--      #chatbox {-->
<!--        margin-left: auto;-->
<!--        margin-right: auto;-->
<!--        width: 40%;-->
<!--        margin-top: 60px;-->
<!--      }-->
<!--      #userInput {-->
<!--        margin-left: auto;-->
<!--        margin-right: auto;-->
<!--        width: 40%;-->
<!--        margin-top: 60px;-->
<!--      }-->
<!--      #textInput {-->
<!--        display: block;-->
<!--        flex: 1;-->
<!--        width: 100%;-->
<!--        border-radius: 50px;-->
<!--        margin: 5px;-->
<!--        outline: none;-->
<!--        border:2px solid #ccc;-->
<!--        color: #555;-->
<!--        font-family: monospace;-->
<!--        font-size: 17px;-->
<!--      }-->
<!--      .userText {-->
<!--        font-family: monospace;-->
<!--        font-size: 17px;-->
<!--        text-align: right;-->
<!--        line-height: 30px;-->
<!--      }-->
<!--      .userText span {-->
<!--        background-color: #E2FFC7;-->
<!--        padding: 10px;-->
<!--        border-radius: 5px;-->
<!--      }-->
<!--      .botText {-->
<!--        color: Black;-->
<!--        font-family: monospace;-->
<!--        font-size: 17px;-->
<!--        text-align: left;-->
<!--        line-height: 20px;-->
<!--      }-->
<!--      .botText span {-->
<!--        background-color: YELLOW;-->
<!--        padding: 2px;-->
<!--        border-radius: 5px;-->
<!--      }-->
<!--      #tidbit {-->
<!--        position: absolute;-->
<!--        bottom: 0;-->
<!--        right: 0;-->
<!--        width: 300px;-->
<!--      }-->
<!--      .boxed {-->
<!--       background-color:Red;;-->
<!--       margin-left: 90px;-->
<!--       margin-right: 10px;-->
<!--       width: 75%;-->
<!--       margin-top: 60px;-->
<!--       border: 2px solid green;-->
<!--      }-->

<!--      .box {-->
<!--        border: 2px solid black;-->
<!--      }-->
<!--    </style>-->
<!--  </head>-->
<!--  <body>-->
<!--    <img />-->
<!--    <center>-->
<!--      <h1> Created by Daksh..-->
<!--      </h1>-->
<!--    </center>-->
<!--    <h3>-->
<!--      <p>-->
<!--        Find this Project on-->
<!--          <a href="https://github.com/dakshgalhotra">Github</a>-->
<!--      </p>-->
<!--    </h3>-->
<!--    <div class="box"></div>-->
<!--    <div class="boxed">-->
<!--      <div>-->
<!--        <div id="chatbox">-->
<!--          <p class="botText">-->
<!--            <span>Hi! I'm your personal ChatBot ️</span>-->
<!--          </p>-->
<!--        </div>-->
<!--        <div id="userInput">-->
<!--          <input id="textInput" type="text" name="msg" placeholder="Message" />-->
<!--        </div>-->
<!--      </div>-->
<!--      <script>-->
<!--        function getBotResponse() {-->
<!--          var rawText = $("#textInput").val();-->
<!--          var userHtml = '<p class="userText"><span>' + rawText + "</span></p>";-->
<!--          $("#textInput").val("");-->
<!--          $("#chatbox").append(userHtml);-->
<!--          document-->
<!--            .getElementById("userInput")-->
<!--            .scrollIntoView({ block: "start", behavior: "smooth" });-->
<!--          $.get("/get", { msg: rawText }).done(function(data) {-->
<!--            var botHtml = '<p class="botText"><span>' + data + "</span></p>";-->
<!--            $("#chatbox").append(botHtml);-->
<!--            document-->
<!--              .getElementById("userInput")-->
<!--              .scrollIntoView({ block: "start", behavior: "smooth" });-->
<!--          });-->
<!--        }-->
<!--        $("#textInput").keypress(function(e) {-->
<!--          if (e.which == 13) {-->
<!--            getBotResponse();-->
<!--          }-->
<!--        });-->
<!--      </script>-->
<!--    </div>-->
<!--  </body>-->
<!--</html>-->